<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">

    </script>
    {% block head %} {%endblock%}
    <meta charset="utf-8">
    <title>SymRx</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="topnav">
      <a id="active" href = "{{ url_for('contact') }}">Contact</a>
      <a href = "{{ url_for('our_team') }}">Our Team</a>
      <a href="{{ url_for('picto') }}"> Create Pictogram </a>
      <a href="{{ url_for('about') }}">About</a>
      <a class="active" href="{{ url_for('home') }}">Home</a>
      <img id = 'logo' src="static/images/logo.png"/img>
    </div>
    {% block content %} {% endblock %}

  </body>
</html>
